/* .banner-area {
  background: url(https://raw.githubusercontent.com/Atul-chhabra/angular-9gxojg/main/src/asset/image/banner-image.jpg);
  background-size: cover;
}
.banner-area .overlay-bg {
  background-color: rgba(4, 9, 30, 0.8);
} */
