<!-- start banner Area -->
<div class="Page-banner">
  <section class="banner-area relative" id="home">
    <div class="container">
      <div
        class="row fullscreen d-flex align-items-center justify-content-between"
      >
        <div class="col-lg-9 col-md-12 banner-content">
          <h1 class="text-uppercase">
            Advance Your Career With Expert SAP Training
          </h1>
          <p class="pt-10 pb-10">
            Transform your career with comprehensive. Gain in demand skils and
            industry expertise from top trainers and get certified to take on
            new challanges. Upgrade your potential and stay ahead of competition
            with our world-class SAP training programs.
          </p>
          <a href="#" class="primary-btn text-uppercase">Get Started</a>
        </div>
      </div>
    </div>
  </section>
  <div class="form-container">
    <app-registration></app-registration>
  </div>
</div>

<!-- End banner Area -->
<!-- Start feature Area -->
<section class="feature-area">
  <div class="container">
    <div class="row feature-container">
      <div class="col-lg-4">
        <div class="single-feature">
          <div class="title">
            <h4>Learn Online Courses</h4>
          </div>
          <div class="desc-wrap">
            <p>
              SAP online training has been designed to cover everything in
              detail and flexibility to master SAP technical skills at the
              comfort of your home.
            </p>
            <a href="#">Join Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature">
          <div class="title">
            <h4>Live Classes</h4>
          </div>
          <div class="desc-wrap">
            <p>
              You can register for offline Live classes if you residing in Pune,
              Maharashtra
            </p>
            <a href="#">Join Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-feature">
          <div class="title">
            <h4>Demo Classes</h4>
          </div>
          <div class="desc-wrap">
            <p>
              Here you can find recordings of our some previous classes to get
              the idea of technology. Click on below button to find demo
              classes.
            </p>
            <a href="#">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End feature Area -->

<section class="popular-course-area">
  <div class="title text-center">
    <h1 class="mb-10">Popular Courses we offer</h1>
    <p>There is a moment in the life of any aspiring.</p>
  </div>

  <div class="courses">
    <div class="course">
      <div class="course-title">
        <i class="fa-fw far fa-calendar-days" aria-hidden="true"></i>
        <p>SAP SD</p>
      </div>
      <p class="course-desc">
        SAP SD is a module of the SAP ERP system that manages sales and
        distribution processes. A typical course covers sales order processing,
        delivery processing, billing and payment processes, and integration with
        other modules.
      </p>
      <div class="enroll-button">
        <button
          class="button2 inquerySide"
          data-title="Batch Information"
          data-paragraph="See why 61,640+ Learners trust us and how did they achieve their professional goals by Joining Croma Campus! You also get your Certificate now!"
        >
          Enroll Now
        </button>
      </div>
    </div>
    <div class="course">
      <div class="course-title">
        <i class="fa-fw far fa-calendar-days" aria-hidden="true"></i>
        <p>SAP MM</p>
      </div>
      <p class="course-desc">
        SAP MM (Materials Management) is a module of the SAP ERP system that
        manages materials procurement, inventory management, and invoice
        verification. A typical course covers purchasing, inventory management,
        material valuation and account determination, and integration with other
        SAP modules.
      </p>
      <div class="enroll-button">
        <button
          class="button2 inquerySide"
          data-title="Batch Information"
          data-paragraph="See why 61,640+ Learners trust us and how did they achieve their professional goals by Joining Croma Campus! You also get your Certificate now!"
        >
          Enroll Now
        </button>
      </div>
    </div>
    <div class="course">
      <div class="course-title">
        <i class="fa-fw far fa-calendar-days" aria-hidden="true"></i>
        <p>SAP BW</p>
      </div>
      <p class="course-desc">
        SAP BW (Business Warehouse) is a module of the SAP ERP system that
        enables data warehousing and reporting for enterprise-wide data
        analysis. A typical course covers data modeling, extraction,
        transformation, loading, reporting, and integration with other SAP
        modules.
      </p>
      <div class="enroll-button">
        <button
          class="button2 inquerySide"
          data-title="Batch Information"
          data-paragraph="See why 61,640+ Learners trust us and how did they achieve their professional goals by Joining Croma Campus! You also get your Certificate now!"
        >
          Enroll Now
        </button>
      </div>
    </div>
  </div>
</section>

<div class="achievements-section">
  <h3>Program Core Credentials</h3>
  <div class="line"></div>

  <div class="acheivements">
    <div class="acheivement batch-box active">
      <img
        alt="user"
        src="https://raw.githubusercontent.com/Atul-chhabra/angular-9gxojg/main/src/asset/image/experts.png"
        width="29"
        height="45"
      />
      <p>Trainer Profiles</p>
      <h4>Industry Experts</h4>
    </div>

    <div class="acheivement batch-box">
      <img
        alt="trainer"
        src="https://raw.githubusercontent.com/Atul-chhabra/angular-9gxojg/main/src/asset/image/trained.png"
        width="45"
        height="45"
      />
      <p>Trained Students</p>
      <h4>10000+</h4>
    </div>

    <div class="acheivement batch-box">
      <img
        alt="industry"
        src="https://raw.githubusercontent.com/Atul-chhabra/angular-9gxojg/main/src/asset/image/success.png"
        width="45"
        height="45"
      />
      <p>Success Ratio</p>
      <h4>100%</h4>
    </div>

    <div class="acheivement batch-box">
      <img alt="" src="https://raw.githubusercontent.com/Atul-chhabra/angular-9gxojg/main/src/asset/image/corporate.png" width="35" height="45" />
      <p>Corporate Training</p>
      <h4>For India &amp; Abroad</h4>
    </div>

    <div class="acheivement batch-box">
      <img
        alt="abrord"
        src="https://raw.githubusercontent.com/Atul-chhabra/angular-9gxojg/main/src/asset/image/job.png"
        width="45"
        height="45"
      />
      <p>Job Assistance</p>
      <h4>100%</h4>
    </div>
  </div>
</div>
