
    
  <form action="#" method="post">
    <input
      type="text"
      id="name"
      name="name"
      placeholder=" Full Name"
      required
    />

    <input
      type="email"
      id="email"
      name="email"
      placeholder=" Email address"
      required
    />

    <input
      type="tel"
      id="phone"
      name="phone"
      placeholder="Phone number"
      required
    />
    <select name="menu">
      <option value="0">Choose Branch</option>
      <option value="SAP">Online Training</option>
      <option value="SAP-ABAP">Classroom training, Life Republic</option>
    </select>
    <select name="menu">
      <option value="0">Choose Course</option>
      <option value="SAP">SAP</option>
      <option value="SAP-ABAP">SAP ABAP</option>
      <option value="SAP-BASIS">SAP BASIS</option>
      <option value="SAP-FICO">SAP FICO</option>
    </select>

    <input type="submit" value="Register" />
  </form>
